h1{
  text-align: center;
  margin-top: 2rem;
}

.container{
  text-align: center;
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: white;
}

a{
  color:blue;
  cursor: pointer;
}
