<h1>Create Account</h1>
<div class="container">

    <label> Name </label>
    <input type ="text" [(ngModel)]="name"/>

    <label>Surnames</label>
    <input type ="text" [(ngModel)]="surnames"/>

    <label>Email</label>
    <input type ="email" [(ngModel)]="email"/>

    <label>Password</label>
    <input type ="password" [(ngModel)]="contrasena"/>

    <label>Confirm Password</label>
    <input type ="password" [(ngModel)]="confirmarContrasena"/>

    <label>Address</label>
    <input type ="text" [(ngModel)]="direccion"/>

    <label>Tlf.</label>
    <input type ="text" [(ngModel)]="tlf"/>


  <h3>Supplier</h3>
  <div class="supplier-options">
    <input type="radio" id="Yes" name="option" value="Yes" [(ngModel)]="option">
    <label for="Yes">Yes</label>

    <input type="radio" id="No" name="option" value="No" [(ngModel)]="option">
    <label for="No">No</label>
  </div>

  <div class ="supplier-documents">
  @if (option === "Yes"){
    <label>Please attach information that proves you are a supplier</label>
    <input type="file" accept=".pdf, .docx, .png, .jpg"/>
  }
  </div>

  <button (click)="navToLogin()">Register</button>
</div>
