h1{
  text-align: center;
  margin-top: 2rem;
}

.container{
  text-align: center;
  border: 1px solid black;
  width: 23rem;
  height: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input {
  margin-top: 0.5rem;
}

.supplier-options{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.supplier-options input{
  margin-left: 1rem;
}


.supplier-documents{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


