@if(event){
  <div class="text">
    <h1>TICKET</h1>
    <h2>{{ selectStage(event.escenario) }}</h2>
    <h2>{{ event.fecha }}</h2>
    <h2>Descripcion</h2>
    <p>{{ event.info }}</p>
    <h2>Artist</h2>
    @for (artista of event.artistas; track artista.id) {
      <p>{{ artista.nombre }}</p>
    }
    <h2>Stalls</h2>
    @for (espacio of spaces; track espacio.id) {
      @if (espacio.escenario === event.escenario && espacio.dia === event.dia) {
        <p>{{ espacio.nombrePuesto }}: {{ espacio.infoPuesto }}</p>
      }
    }
  </div>

  <div class="right">
    <div class="event-container">
      <p>Nº Tickets</p>
      <div class="counter">
        <button (click)="plus()">+</button>
        <label>{{ quantity }}</label>
        <button (click)="minus()">-</button>
      </div>
      <p>Price: {{ getPrice(event.precioEntradas) }}€</p>
      <button class="buy" (click)="navToLogin()">
        <a href="subsonic\public\ENTRADA.pdf" download="entrada.pdf">Buy</a>
      </button>
    </div>
  </div>
}
