@if(product){
  <div class="left">
    <img ngSrc="/camisaL.webp" width="500" height="600">
    <img ngSrc="/camisaC.webp" width="500" height="600">
    <div class="front">
      <img ngSrc="/camisaL_frente.webp" width="500" height="600">
      <img ngSrc="/camisaC_frente.jpg" width="500" height="600">
    </div>
  </div>

  <div class="right">
    <h1>{{ product.nombre }}</h1>
    <p>{{ product.precio }}€</p>
    <p>{{ product.info }}</p>
    <p>Color</p>
    @for(productVariant of product.variants; track productVariant.id) {
      @if(productVariant.stock > 0){
        <input type="radio" id="{{ productVariant.color }}" name="color" value="{{ productVariant.color }}" [(ngModel)]="color" (ngModelChange)="color" (click)="toggleColor(productVariant.color)">
        <label for="{{ productVariant.color }}">{{ productVariant.color }}</label>
      }
    }

    <p>Size</p>
    @for(productVariant of product.variants; track productVariant.id) {
      @if(productVariant.stock > 0){
        <input type="radio" id="{{ selectTalla(productVariant.talla) }}" name="size" value="{{ selectTalla(productVariant.talla) }}" [(ngModel)]="size" (ngModelChange)="size" (click)="toggleSize(selectTalla(productVariant.talla))">
        <label for="{{ selectTalla(productVariant.talla) }}">{{ selectTalla(productVariant.talla) }}</label>
      }
    }

    <p></p>
    <button (click) = "Buy()">Add to Cart</button>
    <p>Delivey time 2-4 business days</p>
  </div>
}
