:host{
  position: absolute;
  left: 5rem;
  display: block;
  padding-bottom: 1rem;
}

.products-row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px 50px;
}

.product{
  margin-top: 2rem;
}

.price{
  margin-top: -1rem;
  color:grey
}

.text{
  font-size: 20px;
}

button{
  width: 300px;
}
