<h1>Settings</h1>
@if(client){
<div class="container">
  <label> Name: {{client.nombre}}</label>
  <input type ="text"  [(ngModel)] = "nombre"/>

  <label>Surnames: {{client.apellido}}</label>
  <input type ="text"  [(ngModel)] = "apellidos"/>

  <label>Email: {{client.email}}</label>
  <input type ="email"  [(ngModel)] = "email"/>

  <label>Address: {{client.direccion}}</label>
  <input type ="text"  [(ngModel)] = "direccion"/>

  <label>Tlf.: {{client.tlf}}</label>
  <input type ="text"  [(ngModel)] = "telefono"/>

  <button (click) = "changeProfile()">Save</button>
</div>
}
