input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label {
  background-color: grey;
  color: white;
  border-color: grey;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}
