:host{
  display: block;
  padding-bottom: 1rem;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label {
  background-color: grey;
  color: white;
  border-color: grey;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

h1{
  text-align: center;
  margin-top: 2rem;
}

.container{
  text-align: center;
  border: 1px solid black;
  width: 22rem;
  height: 43rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

label, input, button {
  margin-bottom: 1rem;
  width: 10rem;
}

button{
  margin-top: 2rem;
}

p{
  color: red;
}
