<h1>STALL INFORMATION</h1>

<div class="container">
  <h2>Information about the stall</h2>

  <h3>Name of the stall</h3>
  <input type="text" [(ngModel)] = "nombre">

  <h2>Service Type</h2>
  <input type="checkbox" id="Food" value="Food" (change)="onCheck('Food', $event)">
  <label for="Food">Food</label>

  <input type="checkbox" id="Drink" value="Drink" (change)="onCheck('Drink', $event)">
  <label for="Drink">Drink</label>

  <input type="checkbox" id="Merchandising" value="Merchandising" (change)="onCheck('Merchandising', $event)">
  <label for="Merchandising">Merchandising</label>

  <h3>Description of the stall</h3>
  <textarea [(ngModel)]="info"></textarea>

  @if(message){
    <p>{{message}}</p>
  }
  <button (click) = "confirm()">CONFIRM</button>
</div>
