<h1>My Tickets</h1>

<div class="tabs">
  <input type="radio" id="NextEvents" name="option" value="NextEvents" [(ngModel)]="option">
  <label for="NextEvents">NextEvents</label>

  <input type="radio" id="PastEvents" name="option" value="PastEvents" [(ngModel)]="option">
  <label for="PastEvents">PastEvents</label>
</div>

@if (option === 'NextEvents') {
  @for(event of events; track event.id) {
    @if(event.fecha < currentDate) {
      <a href="subsonic\public\ENTRADA.pdf" download="entrada.pdf" class="ticket-card">
        <img src="/concierto.png" alt="evento">
        <div class="ticket-date">
          <p>{{event.dia}}</p>
          <p>{{event.hora}}</p>
        </div>
        <p class="ticket-name">{{event.escenario}}</p>
      </a>
    }
  }
}
@else if (option === 'PastEvents') {
  @for(event of events; track event.id) {
    @if(event.fecha >= currentDate) {
      <a href="subsonic\public\ENTRADA.pdf" download="entrada.pdf" class="ticket-card">
        <img src="/concierto.png" alt="evento">
        <div class="ticket-date">
          <p>{{event.dia}}</p>
          <p>{{event.hora}}</p>
        </div>
        <p class="ticket-name">{{event.escenario}}</p>
      </a>
    }
  }
}
